.training__apps {
  margin-top: calc(182px - 50px);
  display: flex;
  align-items: center;
  gap: 30px;
  grid-area: apps;
}

@media screen and (max-width: 768px) {
  .training__apps {
    margin-top: 0;
  }
}