.quote-section__autor-name {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  color: var(--font-color-header-light);
}

@media screen and (max-width: 500px) {
  .quote-section__autor-name {
    font-size: 14px;
    line-height: 22px;
  }
}