.footer__logo {
  display: none;
  background-image: url(../../../images/footer_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 500px) {
  .footer__logo {
    display: block;

  }
}