.quote-section {
  display: grid;
  grid-template-areas:
  "pic quote";
  justify-content: space-between;
  gap: 80px;
  padding: 120px 8.33% 60px 0;
}

@media screen and (max-width: 768px) {
  .quote-section {
    grid-template-areas:
    "pic"
    "quote";
    gap: 40px;
    padding: 60px 20px 60px 0;
  }
}

@media screen and (max-width: 500px) {
  .quote-section {
    padding: 20px 0 80px 0;
    border-top: 1px solid #E3E3E3;
  }
}
