.header {
  padding: 28px 8.3%;
  display: flex;
  position: fixed;
  z-index: 10;
  background-color: var(--background-color-body);
  z-index: 50;
}

@media screen and (max-width: 500px) {
  .header {
    padding: 28px 32px;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding: 30px 18px;
  }
}



