.footer__copyright {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: var(--font-color-footer);
  max-width: fit-content;
  margin: 0;
  padding-top: calc(100px - 50px)
}
