.bikes {
  flex-direction: column;
  width: 100%;
  padding: 4.2% 8.33% 4.2% 0;
  gap: 120px;
}

@media screen and (max-width: 768px) {
  .bikes {
    gap: 80px;
    padding: 40px 20px 80px 0;
  }
}

@media screen and (max-width: 500px) {
  .bikes {
    gap: 20px;
    padding: 40px 0 80px 0;
    border-top: 1px solid #E3E3E3;
  }
}
