.intro {
  padding: 95px 0 0 0;
  justify-content: space-between;
  gap: 17.5%;
  position: relative;
  min-height: 856px;
}

@media screen and (max-width: 768px) {
  .intro {
    gap: 0;
    min-height: fit-content;
    padding: 115px 20px 80px 0;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    gap: 0;
    min-height: fit-content;
    padding: 115px 0px 80px 0;
  }
}