.quote-section__autor-job {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--font-color-text);
  margin: 0;
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .quote-section__autor-job {
    font-size: 10px;
    line-height: 16px;
  }
}