.bikes__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 500px) {
  .bikes__heading {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
}