.quote-section__img {
  width: 100%;
  max-width: 650px;
  height: auto;
  object-fit: cover;
  grid-area: pic;
}


@media screen and (max-width: 1024px) {
  .quote-section__img {
    min-height: 204px;
    max-width: none;
    height: 100%;
    
  }
}