.model-line {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  transition: opacity 0.5s;
}

@media screen and (max-width: 768px) {
  .model-line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "header arrows"
    "gallery gallery"
    "text text";
    gap: 40px;
  }
}