.bikes__nav-links {
  gap: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .bikes__nav-links {
    gap: 15px;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 500px) {
  .bikes__nav-links {
    display: none;
  }
}