.footer {
  padding: 5.5% 8.5% 4.2% 8.33%;
  background-color: var(--background-color-footer-light);
  display: flex;
  flex-direction: column;
  gap: 37px;
  position: relative;
  flex-shrink: 0;
  max-width: 1440px;
}



/* @media screen and (max-width: 920px) {
  .footer {
    padding: 48px 19px 36px 19px;
    max-width: calc(880px - 19px * 2);
  }
} */
