.footer {
  padding: 80px 8.5% 60px 8.33%;
  background-color: var(--background-color-footer);
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-shrink: 0;
  max-width: 1440px;
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 60px 32px 16px 32px;
    width: 100%;
    gap: 40px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding: 60px 18px 16px 18px;
  }
}