.navbar__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--font-color-header-light);
  text-decoration: none;
  transition: opacity 0.15s;

}

.navbar__link:hover {
  opacity: 0.75;;
}
