.intro__img {
  background-image: url(../../../images/intro__background.png);
  width: 100%;
  max-width: 610px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;  
}

@media screen and (max-width: 425px) {
  .intro__img {
    max-width: 400px;
    min-height: 348px;
  }
}



