.intro__img {
  width: 46.2%;
  max-width: 610px;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .intro__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    align-self: center;
  }
}

@media screen and (max-width: 425px) {
  .intro__img {
    width: 89.5%;
    height: 348px;
    align-self: center;
  }
}



